<div class="text-center">
  <%= link_to '/auth/facebook', class: 'btn btn-social btn-facebook' do %>
    <i class="fa fa-facebook"></i> Sign in with Facebook
  <% end %>
  <br /><br />
  <%= link_to '/auth/github', class: 'btn btn-social btn-github' do %>
    <i class="fa fa-github"></i> Sign in with GitHub
  <% end %>
</div>
