<div class="solid">

  <select id="planner_selector">
    <option value="alle">Alle</option>
    <option value="ruskorps">Ruskorps</option>
    <option value="prosa">PROSA</option>
    <option value="ida">IDA</option>
    <option value="studentersamfundet">Studentersamfundet</option>
  </select>

  <div id="calendar" class="mb-1"></div>

  <script type="text/javascript">
  $(document).ready(function(){
    filterSelect("alle");
    $('#calendar').fullCalendar({
      defaultView: 'month',
      locale: 'da',
      events: <%= raw(@events.map do |ev|
        base = { title: ev.title, start: ev.begin_at, className: ev.planner, url: "/events/#{ev.id}"}
        base.merge!(backgroundColor: @domain.colors["primary-color"]) if ev.planner == 'ruskorps'
        base
      end.to_json) %>,
      eventRender: function eventRender( event, element, view ) {
        if ($('#planner_selector').val() == "alle")
          return true
        else
          return event.className == $('#planner_selector').val()
      }
    });
  });
  $('#planner_selector').on('change',function(){
      $('#calendar').fullCalendar('rerenderEvents');
      filterSelect($('#planner_selector').val());
  });
  </script>

  <%= render partial: "/partials/event_accordion", locals: {accordionID: "accordionToday", condition: 0  } %>

  <%= render partial: "/partials/event_accordion", locals: {accordionID: "accordionNext", condition: 1  } %>

  <%= render partial: "/partials/event_accordion", locals: {accordionID: "accordionPrevious", condition: -1 } %>

</div> <%# Lukker solid %>