@import 'variables';
@import 'bootstrap_custom';


.fc-event {
  color: #ffffff;

  &.prosa {
    background-color: #CF1D23;
  }

  &.ida {
    background-color: #C4005F;
  }

  &.ruskorps {
  }

  &.studentersamfundet {
    background-color: #134010;
  }
}


.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: stretch;
  flex-wrap: wrap;
  margin: none;
}

.container {
  position: relative;
  padding: 0;
  height: 100vh;
}

@media (min-width: 1200px) , (min-width: 992px), (min-width: 768px), (min-width: 576px){
  .container {
    max-width: none;
  }
}

.flexbox > div {
  box-sizing: border-box;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}


.box {
  position: relative;
  overflow: hidden;
  padding: none;
}

.box:hover > .hoverlay{
  width:100%;
  height:100%;
  position: absolute;
  background-color:#000;
  opacity:0.15;
}

.box:after {
    content: "";
    float:left;
    display: block;
    padding-top: 100%;
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  flex: 1 0 auto;
}

.filters {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  flex: 1 0 auto;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.menu-text0, .menu-text1, .menu-text3 {
    position: absolute;
    color: #3E3E3D;
    font-size: 2.3vw;
    bottom: 0;
    top: 35%;
    left: 0;
    right: 0;
    display: flex;
    align-items: top;
    text-align: center;
    justify-content: center;
    z-index: 999;
}

.menu-text2, .menu-text4, .menu-text5 {
  position: absolute;
  color: #FFFFFF;
  font-size: 2.3vw;
  bottom: 0;
  top: 35%;
  left: 0;
  right: 0;
  display: flex;
  align-items: top;
  text-align: center;
  justify-content: center;
  z-index: 999;
}

.img-fluid{
  max-width: 100%;
  height: auto;
}

.fp-banner{
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
}

.menu-link{
  /* all rules required to make the whole div clickable */
  position:absolute;
  color: #3E3E3D;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 9999;
  /* this is a fix for IE7-9 */
  background-color:#ffffff;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity:0;
}

.box .info {
  position: absolute;
  color: white;
  font-size: 0;
  bottom: 5px;
  left: 5px;
  align-items: bottom;
  justify-content:left;
  z-index: 999;
  visibility: hidden;
}

.box:hover .info{
  font-size: 1.25rem;
  visibility: visible;
}

.box:hover .info:after{
  font-size: 1.25rem;
  visibility: visible;
}

.box .description {
  position: absolute;
  color: white;
  font-size: 1.25rem;
  bottom: 5px;
  left: 5px;
  align-items: bottom;
  justify-content:left;
  z-index: 999;
  visibility: visible;
}

.box:hover .description{
  font-size: 0;
  visibility: hidden;
}
.box:hover .description:after{
  font-size: 0;
  visibility: hidden;
}

.btn.outline {
  background: none;
  padding: 12px 22px;
}


.btn-primary.outline:focus, .btn-primary.outline:active{
  box-shadow: none;
}


.card-body{
  padding: 12px 22px;
}

.align-left{
  float: left;
}

.align-right{
  float: right;
}

.hilsen{
  text-align: center;
  color: black;
  font-size: 1.25em;
}

.filterable{
  display: none
}

.show{
  display: block
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  .btn,
  .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
    .btn {
      width: 95%;
      padding: 1%;
    }
  }
}

.planner-button {
  margin: 0 0 10 10;
  display: inline-block;
  border: 1 black;
  padding: 1%;
}

.planner-button:hover {
  box-shadow: 1px 1px 1px black;
}

.planner-button.active {
  box-shadow: 2px 2px 2px black;
}
.fp-top{
  height: 66%;
  width: 100%;
  top: 0px;
  position: absolute;
}
.fp-img {
  position: absolute;
  top: 30%;
  bottom: 25%;
  left: 26%;
  right: 29%;
}

.fp-bottom{
  position: absolute;
  bottom: 0px;
  height: 34%;
  width: 100%;
}
.fp-menu {
  position: absolute;
  top: 31%;
  bottom: 31%;
  left: 28%;
  right: 28%;
}

.menu-open{
  padding-bottom: 500px;
}

.menu-close{
  padding-bottom: 0px;
}

.overlay0{
  width:100%;
  height:100%;
  position: absolute;
  background-color: rgb(237, 193, 45);
  opacity:0.5;
  z-index: 100;
  color: #3E3E3D;
}

.overlay1, .overlay3{
  width:100%;
  height:100%;
  position: absolute;
  background-color: #808080;
  opacity:0.5;
  z-index: 100;
  color: #3E3E3D;
}

.overlay2{
  width:100%;
  height:100%;
  position: absolute;
  background-color: rgb(205, 87, 64);
  opacity:0.5;
  z-index: 100;
  color: white;
}

.overlay4{
  width:100%;
  height:100%;
  position: absolute;
  background-color: rgb(26, 39, 51);
  opacity:0.5;
  z-index: 100;
  color: white;
}

.overlay5{
  width:100%;
  height:100%;
  position: absolute;
  background-color: rgb(78, 158, 69);
  opacity:0.5;
  z-index: 100;
  color: white;
}

div#accordion{
  padding: 5% 10%;
}

.accordion-toggle{
  color: #3E3E3D;
}

.card:nth-child(even) .card-header{
  background-color: rgb(237, 193, 45);
}

.card:nth-child(odd) .card-header{
  background-color: rgb(248, 230, 18);
}