@import 'variables';
@import 'bootstrap_custom';


.fc-event {
  color: #ffffff;

  &.prosa {
    background-color: #CF1D23;
  }

  &.ida {
    background-color: #C4005F;
  }

  &.ruskorps {
    background-color: rgb(255, 136, 0);
  }

  &.studentersamfundet {
    background-color: #134010;
  }
}

.grid {  /*Responsivt grid http://bluecaret.com/blog/responsive-grid-of-squares*/
    margin: 0 auto;
    width: 100vw;
    max-width: 80vh;
    height: 100vw;
    max-height: 80vh;
    font-size: 1rem;
    justify-content: center;
}
.row {
    display: flex;
    justify-content: left; /*Alignment of trailing boxes*/
}
.box {

  position: relative;
  width: 30%;
  margin: 1.66%;
  background-color:#1E1E1E;
  overflow:hidden;
}

.box:hover > .overlay{ 
  width:100%;
  height:100%;
  position: absolute;
  background-color:#000;
  opacity:0.15;
}

.box:after {
    content: "";
    float:left;
    display: block;
    padding-top: 100%;
}

.box--3 {
  flex-basis: 33.333%;
}

.box--2 {
  flex-basis: 50%;
}

.box--1 {
  flex-basis: 100%;
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  flex: 1 0 auto;
}

.filters {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  flex: 1 0 auto;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.menu-text {
    position: absolute;
    color: white;
    font-size: 1.5em;
    bottom: 0;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: top;
    justify-content: center;
    z-index: 999;
}


.menu-link{
  /* all rules required to make the whole div clickable */ 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 9999;
  /* this is a fix for IE7-9 */
  background-color:#ffffff;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";  
  filter: alpha(opacity=0);  
  opacity:0;  
}

.contact-info {
  position: absolute;
  color: white;
  font-size: 1em;
  bottom: 10px;
  left: 10px;
  display: flex;
  float: bottom;
  align-items: bottom;
  justify-content:left;
  z-index: 999;
}


.btn.outline {
  background: none;
  padding: 12px 22px;
}
.btn-primary.outline {
  border: 2px solid #FF8C00;
  color: #FF8C00;
}

.btn-primary.outline:focus, .btn-primary.outline:active{
  box-shadow: none;
}

.card{
  border: 2px solid #FF8C00;
}

.card-body{
  padding: 12px 22px;
}

.align-left{
  float: left;
}

.align-right{
  float: right;
}

.hilsen{
  text-align: center;
  color: white;
  font-size: 1.25em;
}

.filterable{
  display: none
}

.show{
  display: block
}