<div class="underlined">
  <h1>
    Til rusperioden
  </h1>
</div>

<h3>Hvad koster det at komme med til alle arrangementerne?</h3>
<p>For kr. 350,- kommer du med til alle arrangementerne (pubcrawl, knoldbold, RUSLAN, og Ruskurset). Betalingen er bindende; antag, at pengene er blevet brugt på øl, præmier, og stegt pattegris ca. 5 sekunder efter de er overført.</p>

<hr />

<h3>Behøver jeg at deltage til arrangementerne?</h3>
<p>Nej, der er ingen tvang. Det skal dog siges, at de sociale bånd I danner jer til arrangementerne kommer til at holde resten af jeres 3-5 år på universitetet. Og så er kr. 350,- <em>meget</em> billigt i forhold til hvad I får!</p>

<hr />

<h3>Hvem skal jeg overføre pengene til?</h3>
<p>De skal overføres til én af følgende:</p>
<blockquote>
  <p><b>Bankoverførsel</b></p>
  <p>
    Kontonr: 1768182<br />
    Reg. nr: 5079
  </p>
  <br />
  <p><b>Mobilepay</b></p>
  <p>Mobilepay: 28 91 63 11</p>
</blockquote>
<h5 style="text-align:center">
  VIGTIGT:<br />
  Skriv dit navn og studieretning (SW eller DAT) på din overførsel!
  <br />Deadline: Torsdag d. 14/9
</h5>

<hr />

<h3>Kan jeg købe adgang til arrangementerne separat?</h3>
<p>Nej! Det er kr. 350,- eller ingenting.</p>

<hr />

<h3>Kan jeg spørge min tutor om noget fagligt?</h3>
<p>Din tutors fornemmeste opgave er, at hjælpe med omstillingen til studielivet på AAU, og alt der følger med. Det er <em>ikke</em> din tutors opgave at hjælpe fagligt. Med det sagt skal du være mere end velkommen til at prøve.</p>
<p>Hvis det er et generelt fagligt spørgsmål om uddannelsen, henvend dig da til dine studievejledere eller din semesterkoordinator.</p>

<hr />

<h3>Hvad gør jeg hvis jeg har allergier?</h3>
<p>Tag fat i den tutor der bliver tilknyttet din gruppe, og fortæl det til ham/hende.</p>

<hr />

<h3>Hvem kontakter jeg hvis jeg står i en nødsituation?</h3>
<p>Din tutor eller Bogi Thomsen (se <%= link_to 'vigtige kontakter', public_contacts_path %></a>).</p>