
<div class="underlined">
  <h1>
    Til rusperioden
  </h1>
</div>

<h3>Hvad koster det at komme med til alle arrangementerne?</h3>
<p>For kr. 350,- kommer du med til alle arrangementerne (pubcrawl, knoldbold, RUSLAN, og Ruskurset). &nbsp;Betalingen er bindende; antag, at pengene er blevet brugt på øl, præmier, og stegt pattegris ca. 5 sekunder efter de er overført.</p>

<h3>Behøver jeg at deltage til arrangementerne?</h3>
<p>Nej, der er ingen tvang. Det skal dog siges, at de sociale bånd I danner jer til arrangementerne kommer til at holde resten af jeres 3-5 år på universitetet. Og så er kr. 350,-&nbsp;<em>meget</em> billigt i forhold til hvad I får!</p>

<h3>Hvem skal jeg overføre pengene til?</h3>
<p>De skal overføres til én af følgende:</p>
<blockquote><p><strong>Bankoverførsel</strong></p>
<p>Kontonr: 1768182</p>
<p>Reg. nr:&nbsp;5079</p>
<p><strong>Mobilepay<br>
</strong></p>
<p>Mobilepay: 28 91 63 11</p>
<h1 style="text-align: center;"><strong>VIGTIGT: Skriv dit navn og studieretning (SW eller DAT) på din overførsel!</strong></h1>
<h1 style="text-align: center;"><strong>Deadline: Torsdag d. 14/9&nbsp;</strong></h1>
<p><strong>&nbsp;</strong></p></blockquote>
<h3>Kan jeg købe adgang til arrangementerne separat?</h3>
<p>Nej! Det er kr. 350,- eller ingenting.</p>

<h3>Kan jeg spørge min tutor om noget fagligt?</h3>
<p>Din tutors fornemmeste opgave er, at hjælpe med omstillingen til studielivet på AAU, og alt der følger med. Det er&nbsp;<em>ikke</em> din tutors opgave at hjælpe fagligt. Med det sagt skal du være mere end velkommen til at prøve.</p>
<p><span style="font-weight: 400;">Hvis det er et generelt fagligt spørgsmål om uddannelsen, henvend dig da til dine studievejledere eller din semesterkoordinator.&nbsp;</span></p>

<h3>Hvad gør jeg hvis jeg har allergier?</h3>
<p><span style="font-weight: 400;">Tag fat i den tutor der bliver tilknyttet din gruppe, og fortæl det til ham/hende.</span></p>

<h3>Hvem kontakter jeg hvis jeg står i en nødsituation?</h3>
<p>Din tutor eller Bogi Thomsen (se <a href="http://rusling.dk/vigtige-kontakter/">vigtige kontakter</a>).</p>