<div class="row justify-content-center">
  <div class="hilsen">
    <div class="content-header"><%= raw(@page.content_header) %></div>
    <div class="content"><%= raw(@page.content) %></div>
  </div>
