<div class="fp-top bg-img" style='background-image: url(<%= image_path("banner.jpg") %>)'>
  <div class="overlay"></div>
  <div class="fp-img">
      <img class="fp-banner mx-auto d-block" src="<%= image_path("logo.png") %>"></img>
  </div>
</div>