<div class="fp-top bg-img" style='background-image: url("https://drive.google.com/uc?id=13YA1cafZ0aA035LqFq94DeO6FqdvNVGG")'>
  <div class="fp-img">
      <img class="fp-banner mx-auto d-block" src="https://drive.google.com/uc?id=1Qq5f0vmzRNTT_g-oQnlFGxFbuJyWtsvg"></img>
  </div>
</div>