<div class="index-top bg-img" style='background-image: url(<%=image_path("banner.JPG")%>)'>
  <div class="overlay"></div>
  <div class="index-img">
    <a class='menu-link' href='javascript:void(0)' onclick='window.location = "/"'></a>
    <img class="fp-banner" src="<%= image_path("logo.png") %>"></img>
  </div>
  <div class="banner-title"><%= raw(@page.title) %></div>
</div>