<nav class="nav justify-content-center dropdown">
  <div class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle='dropdown' href="http://rusling.dk/ofte-stillede-sporgsmal/">Ofte stillede spørgsmål</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="http://rusling.dk/ofte-stillede-sporgsmal/til-studiestartsdagen/">… til studiestartsdagen</a>
      <a class="dropdown-item" href="http://rusling.dk/">… til rusperioden</a>
      <a class="dropdown-item" href="http://rusling.dk/ofte-stillede-sporgsmal/til-studiet/">… til studiet</a>
      <a class="dropdown-item" href="http://rusling.dk/ofte-stillede-sporgsmal/til-eksamen/">… til eksamen</a>
    </div>
  </div>
  <div class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle='dropdown' href="http://rusling.dk/hvor-er-det/">Hvordan gør jeg?</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="http://rusling.dk/hvor-er-det/hvad-er-latex-og-hvordan-bruger-jeg-det/">Hvad er LaTeX og hvordan bruger jeg det?</a>
      <a class="dropdown-item" href="http://rusling.dk/hvor-er-det/hvordan-kommer-jeg-pa-wi-fi/">Hvordan kommer jeg på Wi-Fi?</a>
      <a class="dropdown-item" href="http://rusling.dk/hvor-er-det/hvad-kan-jeg-bruge-mit-studiekort-til/">Hvad kan jeg bruge mit studiekort til?</a>
      <a class="dropdown-item" href="http://rusling.dk/hvor-er-det/hvordan-printer-jeg/">Hvordan printer jeg?</a>
      <a class="dropdown-item" href="http://rusling.dk/hvor-er-det/hvor-er-mit-skema/">Hvor er mit skema?</a>
      <a class="dropdown-item" href="http://rusling.dk/hvor-er-det/hvordan-far-jeg-studiemail-pa-min-telefon/">Hvordan får jeg studiemail på min telefon?</a>
      <a class="dropdown-item" href="http://rusling.dk/hvor-er-det/hvad-er-moodle-og-hvordan-bruger-jeg-det/">Hvad er Moodle og hvordan bruger jeg det?</a>
    </div>
  </div>
  <div class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle='dropdown' href="http://rusling.dk/arrangementer/">Arrangementer</a>
    <div class="dropdown-menu">
      <h6 class="dropdown-header">Arrangementer for Datalogi og Software</h6>
      <a class="dropdown-item" href="http://rusling.dk/arrangementer/arrangementer-for-datsw/info-arrangement/">Info-arrangement</a>
      <a class="dropdown-item" href="http://rusling.dk/arrangementer/arrangementer-for-datsw/knoldbold/">Knoldbold</a>
      <a class="dropdown-item" href="http://rusling.dk/arrangementer/arrangementer-for-datsw/pupcrawl/">Pubcrawl</a>
      <a class="dropdown-item" href="http://rusling.dk/arrangementer/arrangementer-for-datsw/lan/">LAN</a>
      <a class="dropdown-item" href="http://rusling.dk/arrangementer/arrangementer-for-datsw/ruskurset/">Ruskurset</a>
      <a class="dropdown-item" href="http://rusling.dk/arrangementer/arrangementer-for-datsw/braetspilsaften/">Brætspilsaften</a>
      <a class="dropdown-item" href="http://rusling.dk/arrangementer/arrangementer-for-datsw/latex-kursus/">LaTeX Kursus</a>

      <h6 class="dropdown-header">PROSA</h6>
      <a class="dropdown-item" href="http://rusling.dk/hvordan-opnar-vi-digitale-losninger-der-virker/">Hvordan opnår vi digitale løsninger, der virker?</a>
      <a class="dropdown-item" href="http://rusling.dk/arrangementer/braetspilsaften-prosa-medlemmer/">Brætspilsaften (PROSA medlemmer)</a>
      <h6 class="dropdown-header">Studentersamfundet</h6>
      <a class="dropdown-item" href="http://rusling.dk/arrangementer/studentersamfundets-arrangementer/">Studentersamfundets arrangementer</a>
    </div>
  </div>
  <div class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle='dropdown' href="http://rusling.dk/info/">Info</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="http://rusling.dk/info/samarbejdspartnere/">Samarbejdspartnere</a>
      <a class="dropdown-item" href="http://rusling.dk/info/hvor-er-den-naeste-begivenhed/">Hvor er den næste begivenhed?</a>
      <a class="dropdown-item" href="http://rusling.dk/guide-til-forste-studiedag/">Guide til første studiedag</a>
      <a class="dropdown-item" href="http://rusling.dk/info/studieordninger/">Studieordninger</a>
      <a class="dropdown-item" href="http://rusling.dk/info/studenterpolitik/">Studenterpolitik på AAU</a>
      <a class="dropdown-item" href="http://rusling.dk/info/semesterkoordinator-og-sekretaer/">Semesterkoordinator – Kurt Nørmark</a>
      <a class="dropdown-item" href="http://rusling.dk/info/ruskorpset/">Ruskorpset</a>
      <a class="dropdown-item" href="http://rusling.dk/info/gode-rad-fra-gamle-studerende/">Gode råd fra gamle studerende</a>
    </div>
  </div>
  <div class="nav-item">
    <a class="nav-link" href="http://rusling.dk/vigtige-kontakter/">Vigtige kontakter</a>
  </div>
  <div class="nav-item">
    <a class="nav-link" href="http://rusling.dk/events/">Kalender</a>
  </div>
</nav>
