<%= render partial: 'partials/index_header' %>
<div class="padding">
  <%= render partial: 'partials/body_text' %>
  <div style="padding-bottom:5%;"></div>
  <%= render partial: 'partials/text_accordion' %>
</div>