<div class= "grid">
  <% @domain.primary_menu.items.each_slice(3).each do |row| %>
    <div class="row">
      <% row.each do |item| %>
      <div class="box rounded" >
        <a class='menu-link' href='javascript:void(0)' onclick='window.location = "<%= item["link"] %>"'></a>
        <div class="filters" style='background-image: url("<%= item["image_url"] %>");'></div>
        <div class="overlay"></div>
        <div class="menu-text"><%= item["name"] %></div>
       </div>       
      <% end %>
    </div>
  <% end %>
</div>
