<h2><%= @page.title %></h2>
<%= raw(@page.content) %>
<p>Skrevet den. <%= l(@page.created_at, format: :short) %></p>
<% if current_user.present? %>
  du er logget ind som: <%= current_user.name %>
<% else %>
  mega meget ikke logget ind
<% end %>
